@model IEnumerable<SleepLogASP.Models.Sleep>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>My Logs:</h2>

<h4 id="add_sleep">
    @Html.ActionLink("Add sleep manually", "Create")
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sleepTime.dayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sleepTime.startSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sleepTime.endSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sleepTime.amountOfSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating.morningRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating.eveningRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>properties</th>
    </tr>

@foreach (var item in Model.Reverse()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sleepTime.dayOfWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sleepTime.startSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sleepTime.endSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sleepTime.amountOfSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating.morningRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating.eveningRating)
        </td>
        <td>
            <button id="Button1" type="button" onclick="func('@item.note')">Read</button>

            @* @Html.DisplayFor(modelItem => item.note)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sleepID }) |
            @Html.ActionLink("Details", "Details", new { id=item.sleepID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sleepID })
        </td>
    </tr>
}
</table>
<script>
    function func(tekst) {
        alert(tekst);
    }
</script>