@model IEnumerable<SleepLogASP.Models.Sleep>

@{
    ViewBag.Title = "Index";
}

<h2>My Logs:</h2>

<h4>
    @Html.ActionLink("Add sleep manually", "Create")
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SleepTime.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleepTime.StartSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleepTime.EndSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SleepTime.AmountOfSleep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating.MorningRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating.EveningRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>properties</th>
    </tr>

@foreach (var item in Model.Reverse()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SleepTime.DayOfWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SleepTime.StartSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SleepTime.EndSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SleepTime.AmountOfSleep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating.MorningRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating.EveningRating)
        </td>
        <td>
            <button id="Button1" type="button" onclick="func('@item.Note')">Read</button>

            @* @Html.DisplayFor(modelItem => item.note)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SleepID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SleepID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SleepID })
        </td>
    </tr>
}
</table>
<script>
    function func(tekst) {
        alert(tekst);
    }
</script>